<div class="row">
  <app-countdown-parent-lv class="column"></app-countdown-parent-lv>
  <app-countdown-parent-vc class="column"></app-countdown-parent-vc>
</div>
<app-mission-control></app-mission-control>
